 <div class="user-details">
  <h1> Me in Tech </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h3>Development</h3>
      <i class="devicon-trello-plain-wordmark colored"></i>
      <i class="devicon-github-original colored"></i>
      <i class="devicon-travis-plain-wordmark colored"></i>
      <i class="devicon-docker-plain colored"></i>
      <p>Iam a clean coder and strict on following a proper development practices. I automate whatever possible ensure best development results</p>
    </div>
    <div class="tech">
      <h3>Code</h3>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <p>Fell in love with programming when I first coded in C. Although I never said no to any programming language, I prefer programming python if you give me an option</p>
    </div>
    <div class="tech">
      <h3>Platform and Tools</h3>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-ubuntu-plain colored"></i>
      <i class="devicon-vim-plain colored"></i>
      <i class="devicon-intellij-plain-wordmark colored"></i>
      <p>Call me old fashioned bt I don't use any editor other than Vim. In relationship with Ubuntu since 9 years (Still going good):P.
         Huge fan of IntelliJ IDE (I can argue with any sublime, VS code fans out there :D)
      </p>
    </div>
</div>
