 <div class="user-details">
  <h1> Me in Tech </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h3>Development</h3>
      <i class="devicon-trello-plain-wordmark colored"></i>
      <i class="devicon-github-original colored"></i>
      <i class="devicon-travis-plain-wordmark colored"></i>
      <i class="devicon-docker-plain colored"></i>
      <p>Iam a clean coder and a strict follower of proper development practices. I automate whatever possible to ensure best development results</p>
    </div>
    <div class="tech">
      <h3>Code</h3>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <p>Fell in love with programming when I first coded in C. Although I never said no to any programming language, I prefer programming in python for my hobby projects</p>
    </div>
    <div class="tech">
      <h3>Platform and Tools</h3>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-ubuntu-plain colored"></i>
      <i class="devicon-vim-plain colored"></i>
      <i class="devicon-intellij-plain-wordmark colored"></i>
      <p>Call me old fashioned bt I don't use any editor other than Vim. In relationship with Ubuntu since 9 years (Still going good):P.
         Huge fan of IntelliJ IDE (I can argue with any sublime, VS code fans out there :D)
      </p>
    </div>

</div>


 <div class="user-details">
     <h2>  Skills and Interests </h2>
 </div>
 <div class="user-projects">
     <div class="images-right">
         <img alt="mountains" src="{{ "/assets/img/skills.png" | prepend: site.baseurl }}" />
     </div>
     <div class="contents">

         <p>
         Being a programming enthusiast, learning new technologies and trying to implement it to simplify life is my hobby.
         Although every technological concepts excites me, I have special interest in few topics.
         <ul>
            <li> Computer networks</li>
            <li> Information Security & Cryptography</li>
            <li>  Discrete mathematics & Graph theory</li>
             <li> Algorithm analyisis & Clean programming</li>
         </ul>
         After completing my bachelors in computer science, I went on to complete my masters in <b>information
         Security</b> due to my passion in computer security. Bitcoin got my attention due to its implementation to achieve decentralized money.
         Involved in cryptocurrency trading initially. Soon gained interest in the the cryptocurrency and the underlying technology and spent most of the
         time exploring this technology. Currently I'm exploring blockchain technology and authored a book titled
         <a href="http://theblockchainbook.info" target="_blank">Foundations of Blockchain</a>.

         </p>



     </div>
 </div>


 <div class="user-details">
     <h2>  Professional life </h2>
 </div>
 <div class="user-projects" >
     <div class="images-right">
         <img alt="mountains" src="{{ '/assets/img/professional.png' | prepend: site.baseurl }}" height="300" width="300"/>
     </div>
     <div class="contents">

         <p>
             <ul>
             <li>I started working for a security firm during and after completing my masters. I worked closely in the DevOps team for over a year there.
                 RSA gave me a lot of exposure to the security industry.
             </li>
               <li> Later, I started working as a senior software engineer in a startup called CoWrks where I gained a lot of exposure as
             a fullstack developer and managing the team.
               </li>
         <li>
             After CoWrks, I devoted full time to research on blockchain and write book after taking break from professional life.
         </li>
         <li>
             I founded a company called <a href="https://consensolabs.com" target="_blank">Consenso Labs </a> which is a blockchain research lab focused on solving real world problems with decentralization.
         </li>
     </ul>
         </p>
         <a class="project-link" href="/assets/docs/Professional_CV.pdf" target="_blank">Resume</a>(outdated)

     </div>
 </div>


 <div class="user-details">
     <h2>  Speaker in me </h2>
 </div>
 <div class="user-projects">
     <a href="http://projects.koshikraj.com" target="_blank">
         <div class="images-right">
             <img alt="speaker" src="{{ '/assets/img/speaker.svg' | prepend: site.baseurl }}" height="200" width="200"/>
         </div>
     </a>
     <div class="contents">
         <h3> Speaker in me </h3>
         <p>
             I actively speak at blockchain meetups and conferences to inspire young minds.
             Actively involved with a few organizations.
             <ul>
         <li>
             Faculty at <a href="https://careersoftomorrow.amityonline.com" target="_blank">Amity Online </a>.
             educational institute. Helped create content for the <a href="https://careersoftomorrow.amityonline.com/Home/app/blockchain-technology" target="_blank">Post Graduation Diploma in Blockchain Technology & Management </a> course.
         </li>
         <li>
             Guest speaker at Byte Academy India, a professional
             educational institute
         </li>
         <li>
             Arrange meetups for a local <a href="https://twitter.com/buidlrsmang" target="_blank">meetup group </a> at Mangaluru.
         </li>


            </ul>


             Checkout out my <a href="https://talks.koshikraj.com/" target="_blank">speaker profile </a>.


         </p>



     </div>
 </div>

 <div class="user-details">
     <h2> My little experiments </h2>
 </div>

 <div class="user-projects">
     <a href="http://projects.koshikraj.com" target="_blank">
         <div class="images-right">
             <img alt="mountains" src="{{ '/assets/img/experiment.jpg' | prepend: site.baseurl }}" height="100" width="100"/>
         </div>
     </a>
     <div class="contents">
         <p>
             I contribute to open source during my leisure time. I work on projects related to networking, decentralization and automation. Check out few of my hosted projects
             <a href="http://projects.koshikraj.com" target="_blank">here</a>.

         </p>



     </div>
 </div>

