<div class="user-details">
  <h1> Other side me </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/otherme.jpg" | prepend: site.baseurl }}" height="300" width="300" />
  </div>
  <div class="contents">
    <p>
      <ul>
      <li>
       I try to speed cube during my free time.
          Currently I solve 2x2, 3x3, 4x4, 5x5, Mirror cube, Pyraminx and Megaminx.
          I mostly speed cube 2x2 and 3x3. My PR is <b>18 </b>seconds in 3x3 and <b>7</b> in 2x2.
      </li>
      <li>
      As a science fiction appreciator, I watch a lot of science fiction and drama movies and TV series during my leisure time.
      </li>
      <li>
          Being an avid Painting enthusiast, won most of the drawing competitions held in schools and taluks.
      </li>
      <li>
          Owing to consistent participation in IT quizzing and interest in blogging, developed a
          <a href="http://www.techrapper.com" target="_blank">blog</a> which primarily manifests current technological developments in the IT
          sector in terms of questions and answers helping the quizzing aspirants.
      </li>
      <li>
      As a Certfied Ethical Hacker I like to assess vulnerabilities in public servers and web apps.
      </li>
      <ul>

    </p>
  </div>
</div>

